/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --docsearch-primary-color: #5468ff;
  --docsearch-text-color: #1c1e21;
  --docsearch-spacing: 12px;
  --docsearch-icon-stroke-width: 1.4;
  --docsearch-highlight-color: var(--docsearch-primary-color);
  --docsearch-muted-color: #969faf;
  --docsearch-container-background: rgba(101,108,133,0.8);
  --docsearch-logo-color: #5468ff;
  --docsearch-modal-width: 560px;
  --docsearch-modal-height: 600px;
  --docsearch-modal-background: #f5f6f7;
  --docsearch-modal-shadow: inset 1px 1px 0 0 hsla(0,0%,100%,0.5),0 3px 8px 0 #555a64;
  --docsearch-searchbox-height: 56px;
  --docsearch-searchbox-background: #ebedf0;
  --docsearch-searchbox-focus-background: #fff;
  --docsearch-searchbox-shadow: inset 0 0 0 2px var(--docsearch-primary-color);
  --docsearch-hit-height: 56px;
  --docsearch-hit-color: #444950;
  --docsearch-hit-active-color: #fff;
  --docsearch-hit-background: #fff;
  --docsearch-hit-shadow: 0 1px 3px 0 #d4d9e1;
  --docsearch-key-gradient: linear-gradient(-225deg,#d5dbe4,#f8f8f8);
  --docsearch-key-shadow: inset 0 -2px 0 0 #cdcde6,inset 0 0 1px 1px #fff,0 1px 2px 1px rgba(30,35,90,0.4);
  --docsearch-footer-height: 44px;
  --docsearch-footer-background: #fff;
  --docsearch-footer-shadow: 0 -1px 0 0 #e0e3e8,0 -3px 6px 0 rgba(69,98,155,0.12);
}
:root {
  --color-accent: #4f46e5;
  --color-accent-disabled: #a5b4fc;
  --color-accent-hover: #3730a3;
  --color-accent-text: #fff;
  --color-main: #18181b;
  --color-main-hover: #3f3f46;
  --color-main-text: #fff;
}
.page-wrapper {
  @apply grid;
  grid-template-rows:
    minmax(min-content, max-content)
    auto;
}
.main-wrapper {
  grid-template-columns: 280px auto;
  @apply flex sm:grid;
}
.btn-primary {
  @apply select-none inline-flex border border-transparent rounded-md text-accent-text bg-accent hover:bg-accent-hover disabled:bg-accent disabled:opacity-50 disabled:cursor-not-allowed px-4 py-2 text-sm leading-5 font-medium focus:ring-control focus:outline-none focus-visible:ring-2 focus:ring-offset-2;
}

.btn-normal {
  @apply select-none inline-flex border border-control-border rounded-md text-control bg-white hover:bg-control-bg-hover disabled:bg-control-bg disabled:opacity-50 disabled:cursor-not-allowed px-4 py-2 text-sm leading-5 font-medium focus:ring-control focus:outline-none focus-visible:ring-2 focus:ring-offset-2;
}

.btn-secondary {
  @apply select-none inline-flex items-center text-main hover:text-control-hover disabled:opacity-50 disabled:cursor-not-allowed text-sm leading-5 font-normal focus:ring-control focus:outline-none focus-visible:ring-2 focus:ring-offset-2;
}

.btn-small {
  @apply select-none inline-flex border border-control-border rounded-md text-control bg-white hover:bg-control-bg-hover disabled:bg-control-bg disabled:opacity-50 disabled:cursor-not-allowed px-2 text-xs leading-5 focus:ring-control focus:outline-none focus-visible:ring-2 focus:ring-offset-2;
}

.btn-select {
  @apply text-sm select-none text-main bg-white border border-control-border disabled:bg-control-bg disabled:opacity-50 disabled:cursor-not-allowed rounded-md shadow-sm text-left cursor-default focus:outline-none focus:ring-1 focus:ring-control focus:border-control;
}

.btn-cancel {
  @apply select-none inline-flex text-control rounded-md hover:bg-control-bg-hover disabled:bg-control-bg disabled:opacity-50 disabled:cursor-not-allowed px-4 py-2 text-sm leading-5 font-medium focus:ring-control focus:outline-none focus-visible:ring-2 focus:ring-offset-2;
}

.btn-icon {
  @apply cursor-pointer flex flex-row items-center select-none rounded-full text-control bg-transparent hover:text-control-hover disabled:opacity-50 disabled:cursor-not-allowed focus:ring-control focus:outline-none focus-visible:ring-2 focus:ring-offset-1;
}

.btn-icon-primary {
  @apply select-none rounded-full text-white bg-accent hover:bg-accent-hover disabled:opacity-50 disabled:cursor-not-allowed focus:ring-control focus:outline-none focus-visible:ring-2 focus:ring-offset-1;
}

.btn-danger {
  @apply select-none inline-flex border border-transparent rounded-md text-accent-text bg-error hover:bg-error-hover disabled:bg-error disabled:opacity-50 disabled:cursor-not-allowed px-4 py-2 text-sm leading-5 font-medium focus:ring-control focus:outline-none focus-visible:ring-2 focus:ring-offset-2;
}

.btn-success {
  @apply select-none inline-flex border border-transparent rounded-md text-accent-text bg-success hover:bg-success-hover disabled:bg-success disabled:opacity-50 disabled:cursor-not-allowed px-4 py-2 text-sm leading-5 font-medium focus:ring-control focus:outline-none focus-visible:ring-2 focus:ring-offset-2;
}

.tab {
  @apply rounded-md text-control font-normal text-sm focus:ring-control focus:outline-none focus-visible:ring-2 focus:ring-offset-2;
}

.control {
  @apply focus:ring-control focus:border-control border-control-border rounded-md select-none;
}

.textlabel {
  @apply text-sm font-medium text-control;
}

.textinfolabel {
  @apply text-sm font-normal text-control-light;
}

.textlabeltip {
  @apply text-xs font-normal text-red-500 ml-2;
}

.textfield {
  @apply text-main disabled:text-control disabled:bg-gray-50 focus:ring-control focus:border-control sm:text-sm border-control-border rounded-md;
}

.textarea {
  @apply text-main focus:ring-control focus:border-control sm:text-sm border-control-border shadow-sm;
}

.radio-set-row {
  @apply flex flex-row items-center space-x-4;
}

.radio-set-col {
  @apply flex flex-col space-y-2;
}

.radio {
  @apply flex items-center;
}

.radio .btn {
  @apply focus:ring-accent h-4 w-4 text-accent select-none;
}

.radio .label {
  @apply ml-1.5 block text-sm font-medium text-gray-700 select-none;
}

.outline-title {
  @apply text-main w-full items-center text-xs leading-5 font-semibold focus:outline-none select-none tracking-wider;
}

.outline-title.toplevel {
  @apply text-control-light text-sm font-normal tracking-tight;
}

.outline-title.collapsible {
  @apply cursor-pointer hover:bg-link-hover;
}

.outline-item {
  @apply text-control cursor-pointer w-full items-center hover:bg-link-hover text-sm leading-5 focus:outline-none select-none;
}

.menu-item {
  @apply cursor-pointer block px-4 py-2 text-sm leading-5 text-control hover:bg-control-bg hover:text-control-hover focus:outline-none focus:bg-control-bg focus:text-control-hover;
}

.bar-link {
  @apply cursor-pointer text-main hover:bg-link-hover focus:outline-none;
}

.accent-link {
  @apply cursor-pointer text-accent font-medium hover:underline focus:outline-none;
}

.normal-link {
  @apply cursor-pointer text-blue-600 hover:underline hover:text-blue-800 focus:outline-none;
}

.icon-link {
  @apply cursor-pointer text-control hover:bg-link-hover focus:outline-none;
}

.anchor-link {
  @apply cursor-pointer hover:underline focus:outline-none;
}

.tooltip-wrapper {
  @apply relative;
}

.tooltip {
  @apply invisible absolute -mt-8 ml-2 px-2 py-1 rounded bg-black bg-opacity-75 text-white;
}

.tooltip-left {
  @apply invisible absolute -top-1 right-6  px-2 py-1 rounded bg-black bg-opacity-75 text-white;
}

.tooltip-wrapper:hover .tooltip,
.tooltip-wrapper:hover .tooltip-left {
  @apply visible z-50;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .thumb-up {
    @apply origin-bottom-left;
    animation: thumb-up 1s ease-in-out infinite;
  }

  /* Remove the ticker in the number field for webkit */
  input.hide-ticker::-webkit-outer-spin-button,
  input.hide-ticker::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Remove the ticker in the number field for Firefox */
  input[type="number"].hide-ticker {
    -moz-appearance: textfield;
  }

  .fix-scrollbar-z-index {
    transform: translate3d(0, 0, 0);
  }
}

.fade-enter-active,
.fade-leave-active,
.fade-fast-enter-active,
.fade-fast-leave-active,
.fade-slow-enter-active,
.fade-slow-leave-active {
  @apply transition-opacity ease-in-out duration-300;
}

.fade-fast-enter-active,
.fade-fast-leave-active {
  @apply duration-100;
}

.fade-slow-enter-active,
.fade-slow-leave-active {
  @apply duration-500;
}

.fade-enter-from,
.fade-leave-to,
.fade-fast-enter-from,
.fade-fast-leave-to,
.fade-slow-enter-from,
.fade-slow-leave-to {
  @apply opacity-0;
}

@keyframes thumb-up {
  33% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(5deg);
  }
  66% {
    transform: rotate(0deg);
  }
}

.page-wrapper {
  @apply grid;
  grid-template-rows:
    minmax(min-content, max-content)
    auto;
}
.main-wrapper {
  grid-template-columns: 280px auto;
  @apply flex sm:grid;
}
.header-link {
  @apply text-gray-700 mr-4 hover:opacity-80 hover:underline whitespace-nowrap;
}
.router-active-link {
  @apply no-underline;
}
.DocSearch-Button {
  align-items: center;
  background: var(--docsearch-searchbox-background);
  border: 0;
  border-radius: 40px;
  color: var(--docsearch-muted-color);
  cursor: pointer;
  display: flex;
  font-weight: 500;
  height: 36px;
  justify-content: space-between;
  margin: 0 0 0 16px;
  padding: 0 8px;
  user-select: none;
}
.DocSearch-Button-Container {
  align-items: center;
  display: flex;
}
.DocSearch-Button-Keys {
  display: flex;
  min-width: calc(40px + 0.8em);
}
.DocSearch-Button .DocSearch-Search-Icon {
  color: var(--docsearch-text-color);
}
.DocSearch-Button-Key {
  align-items: center;
  background: var(--docsearch-key-gradient);
  border-radius: 3px;
  box-shadow: var(--docsearch-key-shadow);
  color: var(--docsearch-muted-color);
  display: flex;
  height: 18px;
  justify-content: center;
  margin-right: 0.4em;
  position: relative;
  padding: 0 0 2px;
  border: 0;
  top: -1px;
  width: 20px;
}
.DocSearch-Button-Placeholder {
  font-size: 1rem;
  padding: 0 12px 0 6px;
}
#algolia-search-container > button {
  @apply ml-0;
}

.DocSearch-Modal .DocSearch-NoResults > .DocSearch-Screen-Icon > svg {
  @apply m-auto;
}

.DocSearch-Button-Container > .DocSearch-Button-Placeholder {
  @apply font-normal;
}
.DocSearch-Button-Container > .DocSearch-Search-Icon {
  @apply w-4 h-auto mx-0.5 sm:ml-1;
}
.select-link {
  @apply bg-white text-accent no-underline border-gray-200;
}
.rotate-90-arrow {
  transform: rotate(90deg);
}
#content .copy-btn {
  @apply absolute top-0.5 right-0.5 text-xs px-1 italic bg-gray-200 rounded opacity-60 hover:opacity-100;
}
